body{
    position: relative;
    background: #F3F5FC;
}
header .logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 90px;
    height: 40px;
    left: 40px;
    top: 40px;
}
.entrada{
    position: absolute;
    left: 80px;
    top: 40px;
    width: 50%;
    height: 520px;
}
.entrada .enviarTexto{
    background: #F3F5FC;
    border: none;
    resize: none;
    outline:none;
    margin: 100px 0 40px 40px;
    width: 80%;
    height: 280px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #0A3871;
}
.entrada .enviarTexto::placeholder{
    color: #0A3871;
}
.entrada .botones{
    display: inline-block;
    margin: 0 10px 10px 10px;
    padding: 10px;
    font-size: 22px;
    border-radius: 24px;
    width: 280px;
    height: 60px;
    transition:  font-size 0.5s, background 0.5s;
}
.entrada .encriptar{
    background: #0A3871;
    color: #ffffff;
}
.entrada .encriptar:hover{
    font-size: 25px;
    background: #032141;
}
.entrada .desencriptar{
    box-sizing: border-box;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}
.entrada .desencriptar:hover{
    font-size: 25px; 
    background: #a6acb4;
}
.entrada .advertencia{
    width: 35%;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    padding: 0 30px 10px;
}
.salida{
    position: absolute;
    width: 30%;
    height: 540px;
    left: 60%;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px; 
}
.imgEspera{
    width: 220px;
    height: 220px;
    padding: 7%;
    margin: 19% 12%;
}
.salida p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    padding: 32px;
    color: #495057;
}
.salida h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.salida .mensaje-alerta{
    text-align: center;
    font-size: 16px;
    margin-top: -10px;
}
.salida .mostrarTexto{
    border: none;
    resize: none;
    outline:none;
    margin: 30px 10px 95px 30px;
    width: 85%;
    height: 320px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    color: #0A3871;
}
.salida .copiarTexto{
    box-sizing: border-box;
    flex-direction: row;
    padding: 10px;
    margin: 0 9%;
    font-size: 22px;
    width: 80%;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    transition:  font-size 0.5s, background 0.5s, color 0.5s;
}
.salida .copiarTexto:hover{
    font-size: 25px;
    background: #495057;
    color: #FFFFFF;
}
@media screen and (max-width:770px){
    .salida{
        height: 590px;
    } 
    .imgEspera{
        width: 200px;
        height: 200px;
        padding: 7% 0;
        margin: 19% 0;
    }
    .entrada .advertencia{
        width: 60%;
    }
    .salida .mostrarTexto{
        height: 350px;
    }
} 
@media screen and (max-width:426px){
    .entrada{
        width: 100%;
        left: 20px;
    }
    .entrada .enviarTexto{
        margin: 90px 0 20px 0;
        width: 90%;
        height: 200px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        color: #0A3871;
    }
    .entrada .botones{
        width: 150px;
        font-size: 15px;
        margin: 0;
    }
    .entrada .desencriptar:hover{
        font-size: 17px; 
    }
    .entrada .encriptar:hover{
        font-size: 17px; 
    }
    .salida{
        left: 20px;
        top: 500px;  
        width: 90%; 
        height: 250px;
    }
    .salida .mostrarTexto{
        height: 50%;
        margin: 30px 10px;
    }
    .salida .copiarTexto{
        font-size: 18px;
        padding: 10px;
        margin: 0 18%;
        width: 60%;
        height: 50px;
    }
    .imgEspera{
        display: none;
    }
    .salida h2{
        margin-top: 10px;
        padding: 10px;
    }
} 