body{
    position: relative;
    background: #F3F5FC;
}
main{
    display: inline-block;
    width: 80%;
    padding: 5% 8% 5% 8%;
}
.entrada{
    display: block;
}
.texto{
    align-items: flex-start;
    height: 400px;
    padding: 10px 0 10px 0;
    left: 240px;
    top: 168px;
}
.enviarTexto{
    background: #F3F5FC;
    border: none;
    resize: none;
    width: 577px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.enviarTexto::placeholder{
    color: #0A3871;
}
.botones{
    align-items: flex-start;
}
.botones button{
    flex-direction: row;
    padding: 20px;
    font-size: 16px;
    border-radius: 24px;
    width: 300px;
    height: 60px;
    transition:  font-size 0.5s, background 0.5s;
}
.encriptar{
    background: #0A3871;
    color: #ffffff;
    margin: auto;
    margin-right: 25px;
}
.encriptar:hover{
    font-size: 19px;
    background: #032141;
}
.desencriptar{
    box-sizing: border-box;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    margin: auto;
}
.desencriptar:hover{
    font-size: 19px; 
    background: #a6acb4;
}
.salida{
    position: absolute;
    width: 400px;
    height: 510px;
    left: 60%;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}
.textoSalida p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}